@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-50: "#f0fdf4";
  --color-primary-100: "#dcfce7";
  --color-primary-200: "#bbf7d0";
  --color-primary-300: "#86efac";
  --color-primary-400: "#4ade80";
  --color-primary-500: "#22c55e";
  --color-primary-600: "#16a34a";
  --color-primary-700: "#15803d";
  --color-primary-800: "#166534";
  --color-primary-900: "#14532d";
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
